src/DigitalSignage.ImportCLI/_XSD_Schema/to.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Terminsaushang">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Stammdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Gerichtsname" type="xs:string" />
              <xs:element name="Datum" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Terminiert">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Verfahren">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Lfdnr" type="xs:unsignedByte" />
                    <xs:element name="Kammer" type="xs:unsignedByte" />
                    <xs:element name="Sitzungssaal" type="xs:string" />
                    <xs:element name="Uhrzeit" type="xs:string" />
                    <xs:element name="Status" type="xs:string" />
                    <xs:element name="Oeffentlich" type="xs:string" />
                    <xs:element name="Art" type="xs:string" />
                    <xs:element name="Az" type="xs:string" />
                    <xs:element name="Gegenstand" type="xs:string" />
                    <xs:element name="Bemerkung1" type="xs:string" />
                    <xs:element name="Bemerkung2" type="xs:string" />
                    <xs:element name="Besetzung">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Richter" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AktivPartei">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Partei" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProzBev">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element maxOccurs="unbounded" name="PB" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PassivPartei">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Partei" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProzBev">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element maxOccurs="unbounded" name="PB" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Beigeladen">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Partei" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProzBev">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="PB" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SV">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Partei" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Zeugen">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Partei" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Beteiligt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Partei" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProzBev">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element maxOccurs="unbounded" name="PB" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>