src/DigitalSignage.ImportCLI/_XSD_Schema/to.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Terminsaushang">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Stammdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Gerichtsname"/>
              <xs:element type="xs:string" name="Datum"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Terminiert">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Verfahren" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="Lfdnr"/>
                    <xs:element type="xs:byte" name="Kammer"/>
                    <xs:element type="xs:string" name="Sitzungssaal"/>
                    <xs:element type="xs:string" name="Uhrzeit"/>
                    <xs:element type="xs:string" name="Status"/>
                    <xs:element type="xs:string" name="Oeffentlich"/>
                    <xs:element type="xs:string" name="Art"/>
                    <xs:element type="xs:string" name="Az"/>
                    <xs:element type="xs:string" name="Gegenstand"/>
                    <xs:element type="xs:string" name="Bemerkung1"/>
                    <xs:element type="xs:string" name="Bemerkung2"/>
                    <xs:element name="Besetzung">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Richter" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AktivPartei">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element type="xs:string" name="Partei"/>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProzBev">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="PB" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PassivPartei">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Partei" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProzBev">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="PB" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Beigeladen" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Partei" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProzBev">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="PB" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SV" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Partei" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Zeugen" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parteien">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Partei" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>